
.progress {
    width: 100%;
    height: 100%;
}

.progress__svg {
    display: block;
    width: 100%;
    height: 100%;
}

.progress__circle {
    fill: none;
    stroke-width: 8;
}

.progress__circle--background {
    stroke: #eef3f6;
}

.progress__circle--value {
    stroke: #005dff;
    transition: stroke-dashoffset 0.3s ease;
}

.progress--animated .progress__svg {
    animation: progress-rotate 0.7s linear infinite;
}

@keyframes progress-rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.progress--hidden {
    display: none;
}